

  <!-- <div *ngFor="let s of list; index as i" class="fontC"> -->
      <!-- <input type="checkbox" #ck ng-checked="checkedd" true-value="true" false-value="false"> -->
                <!-- <ng-template *ngIf="checkboxx is checked; else uncheckedD"> --> 
      <!-- <div class="frm" *ngIf="ck.checked; else uncheckedD" style="text-decoration:line-through;">{{i}}. {{s}}</div> -->
                  <!-- </ng-template> -->
       <!-- <ng-template #uncheckedD> -->
        <!-- <div class="frm">{{i}}. {{s}}</div> -->
      <!-- </ng-template> -->
      <!-- {{checkedd}} -->
  <!-- </div><br> -->
  <router-outlet></router-outlet>
  <!-- <create></create> -->
  <tasks-list></tasks-list>